<app-dropdownlist
  *ngIf="employeeCollection"
  [itemArray]="employeeCollection"
  (itemSelected)="getSelectedValue($event)"
></app-dropdownlist>
<div>
  <label for="p">Selected employee:</label>
  <p #employeeSelectedView appChangeColor>
    {{ selectedEmployee | capitalize }}
  </p>
</div>
